#panorama {
  min-block-size: var(--block-size);
  /* background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2267%22%20height%3D%22100%22%20viewBox%3D%220%200%2067%20100%22%3E%0A%3Cpath%20stroke%3D%22%231a1a1a%22%20fill%3D%22none%22%20d%3D%22M33.5%2C50%2C0%2C63%2C33.5%2C75%2C67%2C63%2C33.5%2C50m-33.5-50%2C67%2C25m-0.5%2C0%2C0%2C75m-66.5-75%2C67-25m-33.5%2C75%2C0%2C25m0-100%2C0%2C50%22%2F%3E%0A%3C%2Fsvg%3E%0A') repeat; */
}

.has-js #panorama:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 33%;
  height: 50%;
  inset-block-end: 0;
  background: linear-gradient(
    0deg,
    hsl(9deg 0% 7% / 89%),
    hsl(9deg 0% 7% / 76%) 11.36%,
    hsl(9deg 0% 7% / 64%) 21.57%,
    hsl(9deg 0% 7% / 53%) 30.81%,
    hsl(9deg 0% 7% / 43%) 39.26%,
    hsl(9deg 0% 7% / 34%) 47.09%,
    hsl(9deg 0% 7% / 26%) 54.5%,
    hsl(9deg 0% 7% / 19%) 61.66%,
    hsl(9deg 0% 7% / 13%) 68.74%,
    hsl(9deg 0% 7% / 8%) 75.94%,
    hsl(9deg 0% 7% / 4%) 83.43%,
    hsl(9deg 0% 7% / 1%) 91.39%,
    hsl(9deg 0% 7% / 0%)
  );
  pointer-events: none;
}

#panorama noscript img {
	object-fit: contain;
}

.image-info {
  --cluster-gap: var(--space-xs-s) var(--space-l-xl);
  --cluster-horizontal-alignment: space-between;
  --cluster-vertical-alignment: flex-end;

  padding: var(--space-xs-s);
  z-index: 1;
}

/* set a background color for legibility of text in case JS fails */
.image-info {
  background-color: var(--primary);
}

.has-js .image-info {
  background-color: unset;
  pointer-events: none;
}

.image-info .stack {
  --stack-gap: 0em;
  flex: 1;
}

.image-info .stack a {
  order: -1;
  inline-size: max-content;
  font-size: var(--step--1);
}

.image-info .stack + p {
  font-size: var(--step--1);
  flex: 999;
  text-align: right;
}

.image-info {
  position: absolute;
  inset-block-end: 0;
  inline-size: 100%;
}

@supports
 (selector(:has(works))) {  
  body:has(.pnlm-fullscreen-toggle-button-active) #panorama:after {
    background: unset;
  }
}
