<!-- capture the CSS content as a Nunjucks variable -->
{% set css %}
  {% include "./reset.css" %}
  {% include "./a11y.css" %}
  {% include "./fluid-type-space.css" %}
  {% include "./patterns.css" %}
  {% include "./global.css" %}
  {% include "./pannellum.css" %}
  {% include "./panorama.css" %}
  {% include "./utilities.css" %}
{% endset %}

<style>{{ css | cssmin | safe }}</style>