{%- extends "layouts/base.html" -%}

{%- block preload -%}
  <link rel="preload" href="/scripts/fade-in.js" as="script" fetchpriority="high">
{%- endblock -%}

{%- block prefetch -%}
  <link rel="prefetch" href="/scripts/index.js" as="script">
{%- endblock -%}

{%- block content -%}
  <header class="flow">
    <div class="site-title cluster">
      <h1>Explore</h1>
      <small>{{ content | safe }}</small>
    </div>
    {%- include "partials/nav.html" -%}
  </header>
{%- endblock -%}
{%- block bodyScripts -%}
  <script src="/scripts/fade-in.js" defer async></script>
{%- endblock -%}