{%- extends "layouts/base.html" -%}

{% set fallbackUrl = "/images/" + image.fallback %}
{% set imgPath = "/images/" + page.fileSlug %}

{%- block preload -%}
  <link rel="preload" href="/scripts/index.js" as="script" fetchpriority="high">
{%- endblock -%}

{%- block content -%}
  <div 
    id="panorama"
    data-image={{ image.link }}
    data-yaw={{ image.yaw }}
    data-pitch={{ image.pitch }}
    data-fov={{ image.fov }}
  >
    <noscript>
      <img src={{ fallbackUrl }} alt="{{ image.alt }}">
    </noscript>
  </div>
  <div class="image-info cluster">
    {{ content | safe }}
    <p>
      {{ image.alt }}
      <br>
      Photo credit:
      <a href="{{ image.credit.link }}">
        {{ image.credit.name | addNbsp | safe }}
      </a>
    </p>
  </div>
{%- endblock -%}

{%- block bodyScripts -%}
<script src="/scripts/index.js"></script>

  <script>
    pannellum.viewer('panorama', {
    "type": "multires",
    "multiRes": {
        "basePath": "{{ imgPath }}",
        "path": "/%l/%s%y_%x",
        "extension": "jpg",
        "tileResolution": 512,
        "maxLevel": {{ image.maxLevel }},
        "cubeResolution": {{ image.cubeResolution }}
      },
      "autoLoad": true,
      "yaw": {{ image.yaw }},
      "pitch": {{ image.pitch}},
      "hfov": {{ image.fov }},
      "keyboardZoom": false,
      "mouseZoom": false
    });
  </script>
{%- endblock -%}