{%- extends "layouts/panorama.html" -%}

{% set imgPath = "/images/" + page.fileSlug %}

{%- block panoramaConfig -%}
<script>
  let panoramaConfig = {
  type: "multires",
  multiRes: {
      basePath: "{{ imgPath }}",
      path: "/%l/%s%y_%x",
      fallbackPath: "/fallback/%s",
      extension: "jpg",
      tileResolution: 512,
      maxLevel: parseInt(panoMaxLevel),
      cubeResolution: parseInt(panoRes)
    },
    autoLoad: true,
    // autoRotate: 2,
    // autoRotateStopDelay: 6000,
    yaw: parseInt(panoYaw),
    pitch: parseInt(panoPitch),
    hfov: parseInt(panoHfov),
    keyboardZoom: false,
    mouseZoom: false
  };
</script>
{% if hotspot.text %}
<script>
  let hotspotConfig = {
    // hotSpotDebug: true,
    hotSpots: [
        {
          pitch: parseInt(panoHotspotPitch),
          yaw: parseInt(panoHotspotYaw),
          type: "info",
          text: panoHotspotText
        },
    ]
  }
  panoramaConfig = { ...panoramaConfig, ...hotspotConfig };
  // console.log(panoramaConfig);
</script>
{% endif %}
{%- endblock -%}